<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notitas</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
        <nav>
            <div class="brand-wrapper">
                <div class="logo">
                   <a href="/"><img src="/images/logo.svg" alt=""></a> 
                </div>
            </div>        
        </nav>
    </header>

    <main>
        
        <section class="editForm">
            
            <h1>Editar una nota</h1>
            <form action="" method="post">
                
                <div>
                    <label for="">Título</label>
                    <input type="text" name="title" value="<%= unaNota.title %>">
                </div>
                <div>
                    <label for="text">Mensaje</label>
                    <textarea name="text" id="text" cols="30" rows="10"><%= unaNota.text %></textarea>
                </div>
                <button type="submit">Editar</button>
                
            </form>
            <form class="formDelete" action="?_method=delete" method="POST">
                <button id="button" type="submit">Borrar</button>
           
        </section>

        
    </main>

</body>
</html>